<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {% load staticfiles %}
      {% if image %}
      <img src="{% static image %}" alt="" />
      {% else %}

    <img src="{% static 'ninja_app/images/donatello.jpg' %}" alt="" />
    <img src="{% static 'ninja_app/images/leonardo.jpg' %}" alt="" />
    <img src="{% static 'ninja_app/images/michelangelo.jpg' %}" alt="" />
    <img src="{% static 'ninja_app/images/raphael.jpg' %}" alt="" />
      {% endif %}
    {{image}}
    {# <img src="{% static 'ninja_app/notapril.jpg' %}" alt="" />#}
  </body>
</html>